/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  overflow: hidden;
}
/*-----------------------------------------------SCROLL--------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkblue;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--navbar-bg-clr);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 99, 122);
}
