<div class="search-box">
    <div class="search-panel">
        <div class="search-container">
            <input autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   maxlength="20"
                   type="search"
                   id="search"
                   placeholder="Поиск..."
                   [(ngModel)]="inputWord"
                   (input)="onInputWord()"
                   (click)="inputCLick()"
                   (keyup.enter)="search()"
                   (blur)="blur()" />
            <button tabindex="-1"
                    class="icon"
                    (click)="search()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        <div class="dropdown-words">
            <ul *ngIf="!!inputWord && isDropdownDisplayed" class="dropdown-list">
                <li *ngFor="let word of filteredWords"
                    (mousedown)="selectElement(word.name)"
                    class="dropdown-word">
                    {{word.name}}
                </li>
            </ul>
        </div>
    </div>
</div>

<h3 [@showWordState]="stateWord">
    <ng-container *ngIf="isTermDisplayed">
        <b>{{resultWord.name}}</b> -{{resultWord.grammar}} — {{resultWord.description}} <br /> <i>{{resultWord.example}}</i>
    </ng-container>
</h3>
